@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    @* _Header partial view'unu çağırıyoruz *@
    @Html.Partial("_Header")
</head>
<body>
@* _Navbar partial view'unu çağırıyoruz *@
@Html.Partial("_Navbar")

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@* _Footer partial view'unu çağırıyoruz *@
@Html.Partial("_Footer")

@RenderSection("Scripts", required: false)
</body>
</html>